.cell {
    width: 100px;
    height: 100px;
    box-sizing:border-box;
    font-size: smaller;
    font-family: sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover{
    background-color:#c1cdcd;
    cursor: pointer;
}

.v1 {
    border-right: 3px solid black;
    /* border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black; */
}

.h1 {
    border-bottom: 3px solid black;
}

.piece {
    background-color: red;
}